body {
    background-color: #f8f9fa;
    font-family: 'Ubuntu', sans-serif;
}

#mainNavbar #current {
    background-color: black;
    border-radius: 10%;
}

#carouselExampleCaptions {
    width: 95%;
    margin-top: 8%;
    margin-left: 3%;
}

.quote p {
    margin-top: 2%;
    font-size: 36px;
    font-weight: 300;
    font-family: 'League Gothic', sans-serif;
}

#indexbody {
    background: linear-gradient(0.25turn, #4868b3, #b9c6bf);
}


#indexbody .container h2 {
    font-size: 30px;
    font-weight: 600;
}

.Homecard .card-body {
    box-shadow: 0 0 20px 7px rgba(233, 71, 71, 0.1);
    background: linear-gradient(0.25turn, #000428, #004e92);
}

.Homecard .card-text {
    color: white;
    font-size: 12px;
}

.Homecard {
    margin: 20px 10px;
}

.Homecard .card-body h5 {
    color: #5785b3;

}

.fests img {
    border-radius: 50%;
    margin-left: 20%;
}


/* Navbar CSS */
.nav-link {
    font-size: 1.5em;
    color: whitesmoke;
}

#Name {
    font-size: 2em;
}


.navbar-toggler {
    background-color: #bad8eb;
}

#navLinks .nav-link:hover {
    color: #e71d36;
}

.navbar.scrolled {
    background: #ba67dd;
    transition: background 500ms;
    opacity: 0.4;
}

/* ABOUT CSS */
.about p {
    font-size: medium;
}

.Aboutbody {
    /* background: linear-gradient(0.25turn, #a8c0ff, #998fc3); */
    background: linear-gradient(0.25turn, #96b0b0, #cdbc9c);
}

.greeny {

    margin-left: 100px;
}


.abouth2 {

    margin-bottom: 3%;
    font-family: 'Quantico', sans-serif;
    font-size: 40px;
    margin-top: 10%;
}

.about .loc {
    margin-top: 2%;
}

.map {
    margin-top: 4%;
    margin-bottom: 2%;
    display: grid;
}

.material-icons {
    margin-left: 7%;
}

/* INFRA CSS */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

#facilities {
    padding: 30px 0px;
}

#facilities h1 {
    font-weight: 900;
    font-size: 45px;
    padding-bottom: 5px;
    margin-top: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;

}

#facilities .title {
    text-align: center;
    padding: 25px 0px;
}

#facilities .title p {
    font-size: 18px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card {
    margin: 20px 10px;
}

.card-body h5 {
    color: #185a9d;

}

.card-body h5:hover {
    color: #63a6b0;
}

.infrabody {
    background: linear-gradient(0.20turn, #60c8d8, #dbeaed);
}

.infrabody h3 {
    font-size: 35px;
}

.infrabody span {
    color: #dc2f02;
}

.infrah2 {
    display: grid;
    margin-top: 8%;
    font-weight: bolder;
    background-image: url('imgs/map.jpg');
    padding-left: 30%;
    box-shadow: rgb(156, 183, 213) 0px 20px 30px -10px;
    border-radius: 2%;
}

/* Course Offerd CSS */
.Course h2 {
    font-family: 'Quantico', sans-serif;
}

.Course {
    background: linear-gradient(0.29turn, #3f87a6, #ebf8e1, #ffca91);
}

#h2idC {
    margin-bottom: 3%;
    font-family: 'Quantico', sans-serif;
    font-size: 70px;
    margin-top: 6%;
}

/* contact us css */
.contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #c97ae8);
}

.contact-container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.contact-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.contact-container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #c97ae8);
}

.contact-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100%/2-20px);
}

form .user-details .input-box .details {
    display: inline;
    font-weight: 500;
    margin-bottom: 5px;

}

form .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .user-details .input-box input:focus {
    border-color: #c97ae8;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 15px;
    width: 15px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 5px;
    border: 5px solid transparent;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

form a {
    display: inline-block;
    text-decoration: none;
    background-color: #d8e2dc;
    padding: 2px;
}

form a:hover {
    border-bottom: 1px solid;
    background: linear-gradient(-135deg, #43cea2, #185a9d);
}

/* footer css */
footer a,
footer p {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #81b29a;
}

footer {
    background-color: #001333;
    text-align: center;
    padding: 1%;
}


/* Responsive Design */
@media(max-width:584px) {

    /* for navbar */
    #mainNavbar .logo {
        width: 75px;
    }

    #mainNavbar #current {
        background: none;
        color: gold;
    }

    .infrabody .vis {
        margin: 0;
    }

    .navbar-brand {
        font-weight: 500;
        color: #001333;
    }

    .nav-link {
        color: whitesmoke;
    }

    /* for homepage */
    #carouselExampleCaptions {
        margin-top: 20%;
        margin-left: 1%;
    }

    .fests img {
        margin-left: 27%;
    }

    .dimg img {
        width: 100%;
    }

    .quote p {
        margin-top: 2%;
        font-size: 23px;
        font-weight: 400;
    }

    .Homecard .card-text {
        font-size: 12px;
    }

    .Homecard {
        margin: 10px 7px;
    }

    /* for aboutpage */
    .abouth2 {
        margin-top: 20%;
        font-family: 'Quantico', sans-serif;
        font-size: 32px;
    }

    .about p {
        font-size: 12px;
    }

    .greeny {
        margin-left: 1%;
    }

    /* for coursepage */
    #h2idC {
        margin-top: 19%;
        font-size: 45px;
    }

    .content {
        margin-right: 0;
    }

    .dep {
        width: 100%;
    }

    .Course p {
        font-size: medium;
        margin-right: 0;
    }

    /* for infra page */

    .yt {
        width: 100%;
    }



    /* Contact Us Page */

    .contact-container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
        margin-bottom: 15px;
    }

    .contact-container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}

@media all and (min-width:584px) and (max-width:1196px) {
    .abouth2 {
        margin-top: 27%;
        font-family: 'Quantico', sans-serif;
        font-size: 28px;
    }

    .about p {
        font-size: 10px;
    }

    #carouselExampleCaptions {
        margin-top: 18%;
        margin-left: 1%;
    }



}